.root {
  height: 100%;
  background-color: #f2f2f2;
}

.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  margin-bottom: 8px;
  z-index: 2;
}

.main {
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 300px;
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-spacer {
  flex-basis: 68px;
}

.content {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}
